<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.team.project.dao.ManagementMapper">
  <resultMap id="BaseResultMap" type="com.yb.team.project.model.Management">
    <id column="meeting_roomid" jdbcType="INTEGER" property="meetingRoomid" />
    <result column="meeting_room" jdbcType="VARCHAR" property="meetingRoom" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="nums_max" jdbcType="INTEGER" property="numsMax" />
    <result column="nums_min" jdbcType="INTEGER" property="numsMin" />
    <result column="projector" jdbcType="VARCHAR" property="projector" />
    <result column="visible" jdbcType="BIT" property="visible" />
    <result column="device" jdbcType="VARCHAR" property="device" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meeting_roomid, meeting_room, create_time, nums_max, nums_min, projector, visible, 
    device
  </sql>
  <select id="selectByExample" parameterType="com.yb.team.project.model.ManagementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from management
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from management
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.team.project.model.ManagementExample">
    delete from management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.team.project.model.Management">
    insert into management (meeting_roomid, meeting_room, create_time, 
      nums_max, nums_min, projector, 
      visible, device)
    values (#{meetingRoomid,jdbcType=INTEGER}, #{meetingRoom,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{numsMax,jdbcType=INTEGER}, #{numsMin,jdbcType=INTEGER}, #{projector,jdbcType=VARCHAR}, 
      #{visible,jdbcType=BIT}, #{device,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yb.team.project.model.Management">
    insert into management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="meetingRoomid != null">
        meeting_roomid,
      </if>
      <if test="meetingRoom != null">
        meeting_room,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="numsMax != null">
        nums_max,
      </if>
      <if test="numsMin != null">
        nums_min,
      </if>
      <if test="projector != null">
        projector,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="device != null">
        device,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="meetingRoomid != null">
        #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="meetingRoom != null">
        #{meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numsMax != null">
        #{numsMax,jdbcType=INTEGER},
      </if>
      <if test="numsMin != null">
        #{numsMin,jdbcType=INTEGER},
      </if>
      <if test="projector != null">
        #{projector,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=BIT},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.team.project.model.ManagementExample" resultType="java.lang.Integer">
    select count(*) from management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update management
    <set>
      <if test="record.meetingRoomid != null">
        meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="record.meetingRoom != null">
        meeting_room = #{record.meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.numsMax != null">
        nums_max = #{record.numsMax,jdbcType=INTEGER},
      </if>
      <if test="record.numsMin != null">
        nums_min = #{record.numsMin,jdbcType=INTEGER},
      </if>
      <if test="record.projector != null">
        projector = #{record.projector,jdbcType=VARCHAR},
      </if>
      <if test="record.visible != null">
        visible = #{record.visible,jdbcType=BIT},
      </if>
      <if test="record.device != null">
        device = #{record.device,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update management
    set meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      meeting_room = #{record.meetingRoom,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      nums_max = #{record.numsMax,jdbcType=INTEGER},
      nums_min = #{record.numsMin,jdbcType=INTEGER},
      projector = #{record.projector,jdbcType=VARCHAR},
      visible = #{record.visible,jdbcType=BIT},
      device = #{record.device,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.team.project.model.Management">
    update management
    <set>
      <if test="meetingRoom != null">
        meeting_room = #{meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numsMax != null">
        nums_max = #{numsMax,jdbcType=INTEGER},
      </if>
      <if test="numsMin != null">
        nums_min = #{numsMin,jdbcType=INTEGER},
      </if>
      <if test="projector != null">
        projector = #{projector,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=BIT},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
    </set>
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.team.project.model.Management">
    update management
    set meeting_room = #{meetingRoom,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      nums_max = #{numsMax,jdbcType=INTEGER},
      nums_min = #{numsMin,jdbcType=INTEGER},
      projector = #{projector,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=BIT},
      device = #{device,jdbcType=VARCHAR}
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yb.team.project.model.Management">
    <id column="meeting_roomid" jdbcType="INTEGER" property="meetingRoomid" />
    <result column="meeting_room" jdbcType="VARCHAR" property="meetingRoom" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="nums_max" jdbcType="INTEGER" property="numsMax" />
    <result column="nums_min" jdbcType="INTEGER" property="numsMin" />
    <result column="projector" jdbcType="VARCHAR" property="projector" />
    <result column="visible" jdbcType="BIT" property="visible" />
    <result column="device" jdbcType="VARCHAR" property="device" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meeting_roomid, meeting_room, create_time, nums_max, nums_min, projector, visible, 
    device
  </sql>
  <select id="selectByExample" parameterType="com.yb.team.project.model.ManagementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Management
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Management
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.team.project.model.ManagementExample">
    delete from Management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.team.project.model.Management">
    insert into Management (meeting_roomid, meeting_room, create_time, 
      nums_max, nums_min, projector, 
      visible, device)
    values (#{meetingRoomid,jdbcType=INTEGER}, #{meetingRoom,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{numsMax,jdbcType=INTEGER}, #{numsMin,jdbcType=INTEGER}, #{projector,jdbcType=VARCHAR}, 
      #{visible,jdbcType=BIT}, #{device,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yb.team.project.model.Management">
    insert into Management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="meetingRoomid != null">
        meeting_roomid,
      </if>
      <if test="meetingRoom != null">
        meeting_room,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="numsMax != null">
        nums_max,
      </if>
      <if test="numsMin != null">
        nums_min,
      </if>
      <if test="projector != null">
        projector,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="device != null">
        device,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="meetingRoomid != null">
        #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="meetingRoom != null">
        #{meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numsMax != null">
        #{numsMax,jdbcType=INTEGER},
      </if>
      <if test="numsMin != null">
        #{numsMin,jdbcType=INTEGER},
      </if>
      <if test="projector != null">
        #{projector,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=BIT},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.team.project.model.ManagementExample" resultType="java.lang.Integer">
    select count(*) from Management
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Management
    <set>
      <if test="record.meetingRoomid != null">
        meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="record.meetingRoom != null">
        meeting_room = #{record.meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.numsMax != null">
        nums_max = #{record.numsMax,jdbcType=INTEGER},
      </if>
      <if test="record.numsMin != null">
        nums_min = #{record.numsMin,jdbcType=INTEGER},
      </if>
      <if test="record.projector != null">
        projector = #{record.projector,jdbcType=VARCHAR},
      </if>
      <if test="record.visible != null">
        visible = #{record.visible,jdbcType=BIT},
      </if>
      <if test="record.device != null">
        device = #{record.device,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Management
    set meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      meeting_room = #{record.meetingRoom,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      nums_max = #{record.numsMax,jdbcType=INTEGER},
      nums_min = #{record.numsMin,jdbcType=INTEGER},
      projector = #{record.projector,jdbcType=VARCHAR},
      visible = #{record.visible,jdbcType=BIT},
      device = #{record.device,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.team.project.model.Management">
    update Management
    <set>
      <if test="meetingRoom != null">
        meeting_room = #{meetingRoom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numsMax != null">
        nums_max = #{numsMax,jdbcType=INTEGER},
      </if>
      <if test="numsMin != null">
        nums_min = #{numsMin,jdbcType=INTEGER},
      </if>
      <if test="projector != null">
        projector = #{projector,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=BIT},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
    </set>
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.team.project.model.Management">
    update Management
    set meeting_room = #{meetingRoom,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      nums_max = #{numsMax,jdbcType=INTEGER},
      nums_min = #{numsMin,jdbcType=INTEGER},
      projector = #{projector,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=BIT},
      device = #{device,jdbcType=VARCHAR}
    where meeting_roomid = #{meetingRoomid,jdbcType=INTEGER}
  </update>
</mapper>