<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.team.project.dao.PredestineMapper" >
  <resultMap id="BaseResultMap" type="com.yb.team.project.model.Predestine" >
    <id column="meeting_id" property="meetingId" jdbcType="INTEGER" />
    <result column="meeting_theme" property="meetingTheme" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="meeting_roomid" property="meetingRoomid" jdbcType="INTEGER" />
    <result column="booker" property="booker" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    meeting_id, meeting_theme, end_time, start_time, meeting_roomid, booker
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yb.team.project.model.PredestineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from predestine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from predestine
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from predestine
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.team.project.model.PredestineExample" >
    delete from predestine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.team.project.model.Predestine" >
    insert into predestine (meeting_id, meeting_theme, end_time, 
      start_time, meeting_roomid, booker
      )
    values (#{meetingId,jdbcType=INTEGER}, #{meetingTheme,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{meetingRoomid,jdbcType=INTEGER}, #{booker,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yb.team.project.model.Predestine" >
    insert into predestine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meetingId != null" >
        meeting_id,
      </if>
      <if test="meetingTheme != null" >
        meeting_theme,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="meetingRoomid != null" >
        meeting_roomid,
      </if>
      <if test="booker != null" >
        booker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meetingId != null" >
        #{meetingId,jdbcType=INTEGER},
      </if>
      <if test="meetingTheme != null" >
        #{meetingTheme,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingRoomid != null" >
        #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="booker != null" >
        #{booker,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.team.project.model.PredestineExample" resultType="java.lang.Integer" >
    select count(*) from predestine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update predestine
    <set >
      <if test="record.meetingId != null" >
        meeting_id = #{record.meetingId,jdbcType=INTEGER},
      </if>
      <if test="record.meetingTheme != null" >
        meeting_theme = #{record.meetingTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meetingRoomid != null" >
        meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="record.booker != null" >
        booker = #{record.booker,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update predestine
    set meeting_id = #{record.meetingId,jdbcType=INTEGER},
      meeting_theme = #{record.meetingTheme,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      booker = #{record.booker,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.team.project.model.Predestine" >
    update predestine
    <set >
      <if test="meetingTheme != null" >
        meeting_theme = #{meetingTheme,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetingRoomid != null" >
        meeting_roomid = #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="booker != null" >
        booker = #{booker,jdbcType=VARCHAR},
      </if>
    </set>
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.team.project.model.Predestine" >
    update predestine
    set meeting_theme = #{meetingTheme,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      meeting_roomid = #{meetingRoomid,jdbcType=INTEGER},
      booker = #{booker,jdbcType=VARCHAR}
    where meeting_id = #{meetingId,jdbcType=INTEGER}
  </update>
</mapper>