<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.team.project.dao.PreTimeMapper" >
  <resultMap id="BaseResultMap" type="com.yb.team.project.model.PreTime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="meeting_roomid" property="meetingRoomid" jdbcType="INTEGER" />
    <result column="8.00" property="8.00" jdbcType="BIT" />
    <result column="8.30" property="8.30" jdbcType="BIT" />
    <result column="9.00" property="9.00" jdbcType="BIT" />
    <result column="9.30" property="9.30" jdbcType="BIT" />
    <result column="10.00" property="10.00" jdbcType="BIT" />
    <result column="10.30" property="10.30" jdbcType="BIT" />
    <result column="11.00" property="11.00" jdbcType="BIT" />
    <result column="11.30" property="11.30" jdbcType="BIT" />
    <result column="12.00" property="12.00" jdbcType="BIT" />
    <result column="12.30" property="12.30" jdbcType="BIT" />
    <result column="13.00" property="13.00" jdbcType="BIT" />
    <result column="13.30" property="13.30" jdbcType="BIT" />
    <result column="14.00" property="14.00" jdbcType="BIT" />
    <result column="14.30" property="14.30" jdbcType="BIT" />
    <result column="15.00" property="15.00" jdbcType="BIT" />
    <result column="15.30" property="15.30" jdbcType="BIT" />
    <result column="16.00" property="16.00" jdbcType="BIT" />
    <result column="16.30" property="16.30" jdbcType="BIT" />
    <result column="17.00" property="17.00" jdbcType="BIT" />
    <result column="17.30" property="17.30" jdbcType="BIT" />
    <result column="18.00" property="18.00" jdbcType="BIT" />
    <result column="18.30" property="18.30" jdbcType="BIT" />
    <result column="19.00" property="19.00" jdbcType="BIT" />
    <result column="19.30" property="19.30" jdbcType="BIT" />
    <result column="20.00" property="20.00" jdbcType="BIT" />
    <result column="20.30" property="20.30" jdbcType="BIT" />
    <result column="21.00" property="21.00" jdbcType="BIT" />
    <result column="21.30" property="21.30" jdbcType="BIT" />
    <result column="22.00" property="22.00" jdbcType="BIT" />
    <result column="22.30" property="22.30" jdbcType="BIT" />
    <result column="23.00" property="23.00" jdbcType="BIT" />
    <result column="bookdata" property="bookdata" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, meeting_roomid, 8.00, 8.30, 9.00, 9.30, 10.00, 10.30, 11.00, 11.30, 12.00, 12.30, 
    13.00, 13.30, 14.00, 14.30, 15.00, 15.30, 16.00, 16.30, 17.00, 17.30, 18.00, 18.30, 
    19.00, 19.30, 20.00, 20.30, 21.00, 21.30, 22.00, 22.30, 23.00, bookdata
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yb.team.project.model.PreTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pre_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pre_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pre_time
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yb.team.project.model.PreTimeExample" >
    delete from pre_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.team.project.model.PreTime" >
    insert into pre_time (id, meeting_roomid, 8.00, 
      8.30, 9.00, 9.30, 10.00, 
      10.30, 11.00, 11.30, 12.00, 
      12.30, 13.00, 13.30, 14.00, 
      14.30, 15.00, 15.30, 16.00, 
      16.30, 17.00, 17.30, 18.00, 
      18.30, 19.00, 19.30, 20.00, 
      20.30, 21.00, 21.30, 22.00, 
      22.30, 23.00, bookdata)
    values (#{id,jdbcType=INTEGER}, #{meetingRoomid,jdbcType=INTEGER}, #{8.00,jdbcType=BIT}, 
      #{8.30,jdbcType=BIT}, #{9.00,jdbcType=BIT}, #{9.30,jdbcType=BIT}, #{10.00,jdbcType=BIT}, 
      #{10.30,jdbcType=BIT}, #{11.00,jdbcType=BIT}, #{11.30,jdbcType=BIT}, #{12.00,jdbcType=BIT}, 
      #{12.30,jdbcType=BIT}, #{13.00,jdbcType=BIT}, #{13.30,jdbcType=BIT}, #{14.00,jdbcType=BIT}, 
      #{14.30,jdbcType=BIT}, #{15.00,jdbcType=BIT}, #{15.30,jdbcType=BIT}, #{16.00,jdbcType=BIT}, 
      #{16.30,jdbcType=BIT}, #{17.00,jdbcType=BIT}, #{17.30,jdbcType=BIT}, #{18.00,jdbcType=BIT}, 
      #{18.30,jdbcType=BIT}, #{19.00,jdbcType=BIT}, #{19.30,jdbcType=BIT}, #{20.00,jdbcType=BIT}, 
      #{20.30,jdbcType=BIT}, #{21.00,jdbcType=BIT}, #{21.30,jdbcType=BIT}, #{22.00,jdbcType=BIT}, 
      #{22.30,jdbcType=BIT}, #{23.00,jdbcType=BIT}, #{bookdata,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yb.team.project.model.PreTime" >
    insert into pre_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="meetingRoomid != null" >
        meeting_roomid,
      </if>
      <if test="8.00 != null" >
        8.00,
      </if>
      <if test="8.30 != null" >
        8.30,
      </if>
      <if test="9.00 != null" >
        9.00,
      </if>
      <if test="9.30 != null" >
        9.30,
      </if>
      <if test="10.00 != null" >
        10.00,
      </if>
      <if test="10.30 != null" >
        10.30,
      </if>
      <if test="11.00 != null" >
        11.00,
      </if>
      <if test="11.30 != null" >
        11.30,
      </if>
      <if test="12.00 != null" >
        12.00,
      </if>
      <if test="12.30 != null" >
        12.30,
      </if>
      <if test="13.00 != null" >
        13.00,
      </if>
      <if test="13.30 != null" >
        13.30,
      </if>
      <if test="14.00 != null" >
        14.00,
      </if>
      <if test="14.30 != null" >
        14.30,
      </if>
      <if test="15.00 != null" >
        15.00,
      </if>
      <if test="15.30 != null" >
        15.30,
      </if>
      <if test="16.00 != null" >
        16.00,
      </if>
      <if test="16.30 != null" >
        16.30,
      </if>
      <if test="17.00 != null" >
        17.00,
      </if>
      <if test="17.30 != null" >
        17.30,
      </if>
      <if test="18.00 != null" >
        18.00,
      </if>
      <if test="18.30 != null" >
        18.30,
      </if>
      <if test="19.00 != null" >
        19.00,
      </if>
      <if test="19.30 != null" >
        19.30,
      </if>
      <if test="20.00 != null" >
        20.00,
      </if>
      <if test="20.30 != null" >
        20.30,
      </if>
      <if test="21.00 != null" >
        21.00,
      </if>
      <if test="21.30 != null" >
        21.30,
      </if>
      <if test="22.00 != null" >
        22.00,
      </if>
      <if test="22.30 != null" >
        22.30,
      </if>
      <if test="23.00 != null" >
        23.00,
      </if>
      <if test="bookdata != null" >
        bookdata,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meetingRoomid != null" >
        #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="8.00 != null" >
        #{8.00,jdbcType=BIT},
      </if>
      <if test="8.30 != null" >
        #{8.30,jdbcType=BIT},
      </if>
      <if test="9.00 != null" >
        #{9.00,jdbcType=BIT},
      </if>
      <if test="9.30 != null" >
        #{9.30,jdbcType=BIT},
      </if>
      <if test="10.00 != null" >
        #{10.00,jdbcType=BIT},
      </if>
      <if test="10.30 != null" >
        #{10.30,jdbcType=BIT},
      </if>
      <if test="11.00 != null" >
        #{11.00,jdbcType=BIT},
      </if>
      <if test="11.30 != null" >
        #{11.30,jdbcType=BIT},
      </if>
      <if test="12.00 != null" >
        #{12.00,jdbcType=BIT},
      </if>
      <if test="12.30 != null" >
        #{12.30,jdbcType=BIT},
      </if>
      <if test="13.00 != null" >
        #{13.00,jdbcType=BIT},
      </if>
      <if test="13.30 != null" >
        #{13.30,jdbcType=BIT},
      </if>
      <if test="14.00 != null" >
        #{14.00,jdbcType=BIT},
      </if>
      <if test="14.30 != null" >
        #{14.30,jdbcType=BIT},
      </if>
      <if test="15.00 != null" >
        #{15.00,jdbcType=BIT},
      </if>
      <if test="15.30 != null" >
        #{15.30,jdbcType=BIT},
      </if>
      <if test="16.00 != null" >
        #{16.00,jdbcType=BIT},
      </if>
      <if test="16.30 != null" >
        #{16.30,jdbcType=BIT},
      </if>
      <if test="17.00 != null" >
        #{17.00,jdbcType=BIT},
      </if>
      <if test="17.30 != null" >
        #{17.30,jdbcType=BIT},
      </if>
      <if test="18.00 != null" >
        #{18.00,jdbcType=BIT},
      </if>
      <if test="18.30 != null" >
        #{18.30,jdbcType=BIT},
      </if>
      <if test="19.00 != null" >
        #{19.00,jdbcType=BIT},
      </if>
      <if test="19.30 != null" >
        #{19.30,jdbcType=BIT},
      </if>
      <if test="20.00 != null" >
        #{20.00,jdbcType=BIT},
      </if>
      <if test="20.30 != null" >
        #{20.30,jdbcType=BIT},
      </if>
      <if test="21.00 != null" >
        #{21.00,jdbcType=BIT},
      </if>
      <if test="21.30 != null" >
        #{21.30,jdbcType=BIT},
      </if>
      <if test="22.00 != null" >
        #{22.00,jdbcType=BIT},
      </if>
      <if test="22.30 != null" >
        #{22.30,jdbcType=BIT},
      </if>
      <if test="23.00 != null" >
        #{23.00,jdbcType=BIT},
      </if>
      <if test="bookdata != null" >
        #{bookdata,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yb.team.project.model.PreTimeExample" resultType="java.lang.Integer" >
    select count(*) from pre_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pre_time
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.meetingRoomid != null" >
        meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="record.8.00 != null" >
        8.00 = #{record.8.00,jdbcType=BIT},
      </if>
      <if test="record.8.30 != null" >
        8.30 = #{record.8.30,jdbcType=BIT},
      </if>
      <if test="record.9.00 != null" >
        9.00 = #{record.9.00,jdbcType=BIT},
      </if>
      <if test="record.9.30 != null" >
        9.30 = #{record.9.30,jdbcType=BIT},
      </if>
      <if test="record.10.00 != null" >
        10.00 = #{record.10.00,jdbcType=BIT},
      </if>
      <if test="record.10.30 != null" >
        10.30 = #{record.10.30,jdbcType=BIT},
      </if>
      <if test="record.11.00 != null" >
        11.00 = #{record.11.00,jdbcType=BIT},
      </if>
      <if test="record.11.30 != null" >
        11.30 = #{record.11.30,jdbcType=BIT},
      </if>
      <if test="record.12.00 != null" >
        12.00 = #{record.12.00,jdbcType=BIT},
      </if>
      <if test="record.12.30 != null" >
        12.30 = #{record.12.30,jdbcType=BIT},
      </if>
      <if test="record.13.00 != null" >
        13.00 = #{record.13.00,jdbcType=BIT},
      </if>
      <if test="record.13.30 != null" >
        13.30 = #{record.13.30,jdbcType=BIT},
      </if>
      <if test="record.14.00 != null" >
        14.00 = #{record.14.00,jdbcType=BIT},
      </if>
      <if test="record.14.30 != null" >
        14.30 = #{record.14.30,jdbcType=BIT},
      </if>
      <if test="record.15.00 != null" >
        15.00 = #{record.15.00,jdbcType=BIT},
      </if>
      <if test="record.15.30 != null" >
        15.30 = #{record.15.30,jdbcType=BIT},
      </if>
      <if test="record.16.00 != null" >
        16.00 = #{record.16.00,jdbcType=BIT},
      </if>
      <if test="record.16.30 != null" >
        16.30 = #{record.16.30,jdbcType=BIT},
      </if>
      <if test="record.17.00 != null" >
        17.00 = #{record.17.00,jdbcType=BIT},
      </if>
      <if test="record.17.30 != null" >
        17.30 = #{record.17.30,jdbcType=BIT},
      </if>
      <if test="record.18.00 != null" >
        18.00 = #{record.18.00,jdbcType=BIT},
      </if>
      <if test="record.18.30 != null" >
        18.30 = #{record.18.30,jdbcType=BIT},
      </if>
      <if test="record.19.00 != null" >
        19.00 = #{record.19.00,jdbcType=BIT},
      </if>
      <if test="record.19.30 != null" >
        19.30 = #{record.19.30,jdbcType=BIT},
      </if>
      <if test="record.20.00 != null" >
        20.00 = #{record.20.00,jdbcType=BIT},
      </if>
      <if test="record.20.30 != null" >
        20.30 = #{record.20.30,jdbcType=BIT},
      </if>
      <if test="record.21.00 != null" >
        21.00 = #{record.21.00,jdbcType=BIT},
      </if>
      <if test="record.21.30 != null" >
        21.30 = #{record.21.30,jdbcType=BIT},
      </if>
      <if test="record.22.00 != null" >
        22.00 = #{record.22.00,jdbcType=BIT},
      </if>
      <if test="record.22.30 != null" >
        22.30 = #{record.22.30,jdbcType=BIT},
      </if>
      <if test="record.23.00 != null" >
        23.00 = #{record.23.00,jdbcType=BIT},
      </if>
      <if test="record.bookdata != null" >
        bookdata = #{record.bookdata,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pre_time
    set id = #{record.id,jdbcType=INTEGER},
      meeting_roomid = #{record.meetingRoomid,jdbcType=INTEGER},
      8.00 = #{record.8.00,jdbcType=BIT},
      8.30 = #{record.8.30,jdbcType=BIT},
      9.00 = #{record.9.00,jdbcType=BIT},
      9.30 = #{record.9.30,jdbcType=BIT},
      10.00 = #{record.10.00,jdbcType=BIT},
      10.30 = #{record.10.30,jdbcType=BIT},
      11.00 = #{record.11.00,jdbcType=BIT},
      11.30 = #{record.11.30,jdbcType=BIT},
      12.00 = #{record.12.00,jdbcType=BIT},
      12.30 = #{record.12.30,jdbcType=BIT},
      13.00 = #{record.13.00,jdbcType=BIT},
      13.30 = #{record.13.30,jdbcType=BIT},
      14.00 = #{record.14.00,jdbcType=BIT},
      14.30 = #{record.14.30,jdbcType=BIT},
      15.00 = #{record.15.00,jdbcType=BIT},
      15.30 = #{record.15.30,jdbcType=BIT},
      16.00 = #{record.16.00,jdbcType=BIT},
      16.30 = #{record.16.30,jdbcType=BIT},
      17.00 = #{record.17.00,jdbcType=BIT},
      17.30 = #{record.17.30,jdbcType=BIT},
      18.00 = #{record.18.00,jdbcType=BIT},
      18.30 = #{record.18.30,jdbcType=BIT},
      19.00 = #{record.19.00,jdbcType=BIT},
      19.30 = #{record.19.30,jdbcType=BIT},
      20.00 = #{record.20.00,jdbcType=BIT},
      20.30 = #{record.20.30,jdbcType=BIT},
      21.00 = #{record.21.00,jdbcType=BIT},
      21.30 = #{record.21.30,jdbcType=BIT},
      22.00 = #{record.22.00,jdbcType=BIT},
      22.30 = #{record.22.30,jdbcType=BIT},
      23.00 = #{record.23.00,jdbcType=BIT},
      bookdata = #{record.bookdata,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yb.team.project.model.PreTime" >
    update pre_time
    <set >
      <if test="meetingRoomid != null" >
        meeting_roomid = #{meetingRoomid,jdbcType=INTEGER},
      </if>
      <if test="8.00 != null" >
        8.00 = #{8.00,jdbcType=BIT},
      </if>
      <if test="8.30 != null" >
        8.30 = #{8.30,jdbcType=BIT},
      </if>
      <if test="9.00 != null" >
        9.00 = #{9.00,jdbcType=BIT},
      </if>
      <if test="9.30 != null" >
        9.30 = #{9.30,jdbcType=BIT},
      </if>
      <if test="10.00 != null" >
        10.00 = #{10.00,jdbcType=BIT},
      </if>
      <if test="10.30 != null" >
        10.30 = #{10.30,jdbcType=BIT},
      </if>
      <if test="11.00 != null" >
        11.00 = #{11.00,jdbcType=BIT},
      </if>
      <if test="11.30 != null" >
        11.30 = #{11.30,jdbcType=BIT},
      </if>
      <if test="12.00 != null" >
        12.00 = #{12.00,jdbcType=BIT},
      </if>
      <if test="12.30 != null" >
        12.30 = #{12.30,jdbcType=BIT},
      </if>
      <if test="13.00 != null" >
        13.00 = #{13.00,jdbcType=BIT},
      </if>
      <if test="13.30 != null" >
        13.30 = #{13.30,jdbcType=BIT},
      </if>
      <if test="14.00 != null" >
        14.00 = #{14.00,jdbcType=BIT},
      </if>
      <if test="14.30 != null" >
        14.30 = #{14.30,jdbcType=BIT},
      </if>
      <if test="15.00 != null" >
        15.00 = #{15.00,jdbcType=BIT},
      </if>
      <if test="15.30 != null" >
        15.30 = #{15.30,jdbcType=BIT},
      </if>
      <if test="16.00 != null" >
        16.00 = #{16.00,jdbcType=BIT},
      </if>
      <if test="16.30 != null" >
        16.30 = #{16.30,jdbcType=BIT},
      </if>
      <if test="17.00 != null" >
        17.00 = #{17.00,jdbcType=BIT},
      </if>
      <if test="17.30 != null" >
        17.30 = #{17.30,jdbcType=BIT},
      </if>
      <if test="18.00 != null" >
        18.00 = #{18.00,jdbcType=BIT},
      </if>
      <if test="18.30 != null" >
        18.30 = #{18.30,jdbcType=BIT},
      </if>
      <if test="19.00 != null" >
        19.00 = #{19.00,jdbcType=BIT},
      </if>
      <if test="19.30 != null" >
        19.30 = #{19.30,jdbcType=BIT},
      </if>
      <if test="20.00 != null" >
        20.00 = #{20.00,jdbcType=BIT},
      </if>
      <if test="20.30 != null" >
        20.30 = #{20.30,jdbcType=BIT},
      </if>
      <if test="21.00 != null" >
        21.00 = #{21.00,jdbcType=BIT},
      </if>
      <if test="21.30 != null" >
        21.30 = #{21.30,jdbcType=BIT},
      </if>
      <if test="22.00 != null" >
        22.00 = #{22.00,jdbcType=BIT},
      </if>
      <if test="22.30 != null" >
        22.30 = #{22.30,jdbcType=BIT},
      </if>
      <if test="23.00 != null" >
        23.00 = #{23.00,jdbcType=BIT},
      </if>
      <if test="bookdata != null" >
        bookdata = #{bookdata,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yb.team.project.model.PreTime" >
    update pre_time
    set meeting_roomid = #{meetingRoomid,jdbcType=INTEGER},
      8.00 = #{8.00,jdbcType=BIT},
      8.30 = #{8.30,jdbcType=BIT},
      9.00 = #{9.00,jdbcType=BIT},
      9.30 = #{9.30,jdbcType=BIT},
      10.00 = #{10.00,jdbcType=BIT},
      10.30 = #{10.30,jdbcType=BIT},
      11.00 = #{11.00,jdbcType=BIT},
      11.30 = #{11.30,jdbcType=BIT},
      12.00 = #{12.00,jdbcType=BIT},
      12.30 = #{12.30,jdbcType=BIT},
      13.00 = #{13.00,jdbcType=BIT},
      13.30 = #{13.30,jdbcType=BIT},
      14.00 = #{14.00,jdbcType=BIT},
      14.30 = #{14.30,jdbcType=BIT},
      15.00 = #{15.00,jdbcType=BIT},
      15.30 = #{15.30,jdbcType=BIT},
      16.00 = #{16.00,jdbcType=BIT},
      16.30 = #{16.30,jdbcType=BIT},
      17.00 = #{17.00,jdbcType=BIT},
      17.30 = #{17.30,jdbcType=BIT},
      18.00 = #{18.00,jdbcType=BIT},
      18.30 = #{18.30,jdbcType=BIT},
      19.00 = #{19.00,jdbcType=BIT},
      19.30 = #{19.30,jdbcType=BIT},
      20.00 = #{20.00,jdbcType=BIT},
      20.30 = #{20.30,jdbcType=BIT},
      21.00 = #{21.00,jdbcType=BIT},
      21.30 = #{21.30,jdbcType=BIT},
      22.00 = #{22.00,jdbcType=BIT},
      22.30 = #{22.30,jdbcType=BIT},
      23.00 = #{23.00,jdbcType=BIT},
      bookdata = #{bookdata,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>