<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>会议室预定</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/sg/css/sganimate.css">
    <link rel="stylesheet" type="text/css" href="/resources/sg/css/common.css">
    <link rel="stylesheet" type="text/css" href="/resources/sg/css/tz_magic.css">
    <link rel="stylesheet" type="text/css" href="/resources/sg/css/tz-loading.css">
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/sg/sg.js"></script>
    <script type="text/javascript" src="/resources/sg/sgutil.js"></script>
</head>

<body>
<!-- siteNav start -->
<script type="text/javascript" src="/resources/temp/siteNav.js"></script>
<!-- siteNav end -->

<!-- header start -->
<script type="text/javascript" src="/resources/temp/header.js"></script>
<!-- header end -->

<!-- content start -->
<div class="nav-main">
    <div class="container clearfix">
        <div class="nav-list fr">
            <a href="http://localhost:8828/admin/roombook" class="nav-active">预定管理</a>
            <a href="http://localhost:8828/admin/bookrecord">预定记录</a>
        </div>
        <h1>会议室预定</h1>
    </div>
</div>

<div class="container wrap">
    <div class="metting-reservation-hd">
        <div class="metting-date">
            <span class="date-txt"></span>
            <a href="javascript:;" class="icon-date ml6"></a>
            <div id="oDate"></div>
        </div>
        <a href="javascript:;" class="u-btn u-btn-primary" onclick="bookMetting()">预定会议室</a>
    </div>
    <div class="metting-reservation-bd clearfix mt20" id="booktable"></div>
</div>
<!-- content end -->

<!-- footer start -->
<script type="text/javascript" src="/resources/temp/footer.js"></script>
<!-- footer end -->

<div class="layer-con lay-book">
    <div class="popupLayer">
        <div class="pop-hd">
            <h2 class="title">预定会议</h2>
        </div>
        <div class="pop-bd mt30">
            <div class="m-form ml20">
                <div class="form-group">
                    <label class="control-label col-4"><i>*</i>主题</label>
                    <div class="col-offset-4">
                        <input class="u-txt" type="text" style="width: 400px;" id="theme">
                    </div>
                </div>
                <div class="form-group mb4" style="z-index: 3;">
                    <label class="control-label col-4">日期</label>
                    <div class="col-offset-4">
                        <input type="text" class="u-txt date fl" onfocus="SelectDate(this, 0);" id="bookdate">
                        <span class="fl ml6 mr6">~</span>
                        <div class="j-select1 fl ml10" style="width: 65px;">
                            <select name="starttime" id="starttime"
                                    style=";height: 36px;border-color: #E5E5E5;width:60px;">

                            </select>
                        </div>
                        <span class="fl ml6 mr6">~</span>
                        <div class="j-select2 fl ml10" style="width: 65px;">
                            <select name="endtime" id="endtime"
                                    style="height: 36px;border-color: #E5E5E5;width:60px;">
                            </select>
                        </div>
                        <label class="u-checkbox ml10 checked"><input type="checkbox" checked=""><i class="ico"></i>全天事件</label>
                        <span class="f12 c7 hide" id="isbooked" style="padding-left: 10px">抱歉，该时段已被预定</span>
                    </div>
                </div>
                <div class="form-group mb4" style="z-index: 3;margin-top: 15px;margin-bottom: 15px">
                    <label class="control-label col-4">地点</label>
                    <div class="col-offset-4 ">
                        <div class="j-select1 fl" style="width: 100px;" id="meetingroom" onchange="roomMessage()">
                            <select name="place" id="place"
                                    style="font-size: 14px;height: 36px;border-color: #E5E5E5;width:102px;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-4">设备</label>
                    <div class="col-offset-4 m-checkbox-horizontal" id="device">
                        <label class="u-checkbox checked"><input type="checkbox" checked=""><i
                                class="ico"></i>画板</label>
                        <label class="u-checkbox"><input type="checkbox"><i class="ico"></i>笔记本电脑</label>
                        <label class="u-checkbox"><input type="checkbox"><i class="ico"></i>翻页笔</label>
                        <label class="u-checkbox"><input type="checkbox"><i class="ico"></i>智能电话</label>
                        <label class="u-checkbox"><input type="checkbox"><i class="ico"></i>投影仪</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="pop-ft mt50">
            <div class="m-btn-group tc">
                <a href="#" class="u-btn u-btn-primary" onclick="bookRoom()">确定</a>
                <a href="#" class="u-btn u-btn-default close" onclick="dialog.closePop()">取消</a>
            </div>
        </div>
        <a href="javascript:;" class="u-pop-close close">&#xe600;</a>
    </div>
</div>
<div class="layer-con layer-book-success" id="booksuccess">

</div>
</body>
<script src="/resources/js/calendar.js"></script>
<script src="/resources/js/page.js"></script>
<script src="/resources/js/mcalendar.js"></script>
<script>
    $(function () {
        var d = new Date();
        $('.date-txt').html(d.getFullYear() + '-' + (d.getMonth() < 10 ? '0' + (d.getMonth() * 1 + 1) : (d.getMonth() * 1 + 1)) + '-' + (d.getDate() < 10 ? '0' + d.getDate() : d.getDate()));
        var data = $('.date-txt').text();
        $('#oDate').calendar({
            width: 338,
            height: 290,
            trigger: '.icon-date',
            zIndex: 999,
            format: 'yyyy-mm-dd',
            date: d,
            onSelected: function (view, date, data) {
                var strT = date.getFullYear() + '-' + (date.getMonth() < 10 ? '0' + (date.getMonth() * 1 + 1) : (date.getMonth() * 1 + 1)) + '-' + (date.getDate() < 10 ? '0' + date.getDate() : date.getDate());
                $('.date-txt').html(strT);
                $('#booktable').empty();
                yb_book();
            }
        });
        yb_book();
        roomMessage();
        $('.u-select').select1();
        $('.u-checkbox').checkbox();
    })
    function bookMetting() {
        dialog.init({
            'w': 600,
            'h': 400,
            'layer': '.lay-book'
        })
    }
    function bookSuccess() {
        dialog.init({
            'w': 600,
            'h': 400,
            'layer': '.layer-book-success'
        })
    }
    function yb_book() {
        var date = $('.date-txt').text();
        $("#bookdate").val(date);
        $.ajaxSettings.async = false;
        var roomData;
        $.get("/admin/roomsearch", function (data) {
            roomData = data;
        });
        $("#place").empty();
        for (var i = 0, len = roomData.length; i < len; i++) {

            $("#place").append("<option >" + roomData[i] + "</option>"); //为Select追加一个Option(下拉项)
        }
        ;
        var bookData;
        var userName = sessionStorage.getItem("userName");
        $.get("/admin/booksearch", {userName: userName, date: date}, function (data) {
            bookData = data;
        });

        $('.metting-reservation-bd').timeChart({
            'xAxis': ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00'],
            'yAxis': roomData,
            'xStep': 2,
            'data': bookData,
            'showFigureNote': true,
            'figureNote': [
                {'text': '我的预定', 'bgcolor': '#47C978', 'borderC': '#47C978'},
                {'text': '已被预定', 'bgcolor': '#F4F4F4', 'borderC': '#F4F4F4'},
                {'text': '可预定', 'bgcolor': '#fff', 'borderC': '#eee'}
            ]
        });
    }
    function roomMessage() {
        var room = $('#place').val();
        $.ajax({
            type: "post",
            url: "/admin/roommessage",
            async: false,
            data: {room: room},
            success: function (data) {
                var startTime = data.startTime;
                var endTime = data.endTime;
                var start = startTime.split(":");
                var end = endTime.split(":");
                var count = (end[0] - start[0]) * 2 + 1;
                var booker = sessionStorage.getItem("userName");
                if (end[1] < start[1]) {
                    count++;
                }
                ;
                if (start[1] > end[1]) {
                    count--;
                }
                ;
                var startHour = start[0];
                var startMinute = start[1];
                $("#starttime").empty();
                for (var i = 0; i < count - 1; i++) {
                    if (startMinute == 00) {
                        $("#starttime").append("<option >" + startHour + ":" + startMinute + "</option>");
                        startMinute = "30";
                    } else {
                        $("#starttime").append("<option >" + startHour + ":" + startMinute + "</option>");
                        startMinute = "00";
                        startHour++;
                    }
                }
                $("#endtime").empty();
                var endHour = end[0];
                var endMinute = end[1];
                for (var i = 0; i < count - 1; i++) {
                    if (endMinute == 00) {
                        $("#endtime").append("<option value=" + "1" + ">" + endHour + ":" + endMinute + "</option>");
                        endMinute = "30";
                        endHour--;
                    } else {
                        $("#endtime").append("<option >" + endHour + ":" + endMinute + "</option>");
                        endMinute = "00";
                    }
                }
                $("#device").empty();
                $.each(data.deviceNames, function (i, item) {
                    if (item != null) {
                        $("#device").append("<label class=" + "u-checkbox" + "><input value='" + item + "' type=" + "checkbox" + "><i class=" + "ico" + "></i>" + item + "</label>");
                    }
                });
                $('.u-checkbox').checkbox();
            }
        });
    }
    function bookRoom() {
        var booker = sessionStorage.getItem("userName");
        var meetingTheme = $("#theme").val();
        var date = $("#bookdate").val();
        var startTime = $("#starttime").find("option:selected").text();
        var endTime = $("#endtime").find("option:selected").text()
        var place = $("#place").find("option:selected").text();
        var a = $("#device").find("input");
        var device = "";
//        alert($(a[0]).is(":checked"));
        if(isEmpty(meetingTheme)){
            loading("会议主题不能为空");
            return;
        }
        if(startTime>endTime){
            loading("开始时间不能大于结束时间");
            return;
        }
        for (var i = 0; i < a.length; i++) {
            if ($(a[i]).is(":checked")) {
                var data = $(a[i]).attr("value");
                if (i >= 1) {
                    device = device + "," + data;
                } else {
                    device += data;
                }
            }
        }
        ;
        $.ajax({
            type: "post",
            url: "/admin/personbook",
            async: false,
            data: {date: date, startTime: startTime, endTime: endTime, place: place},
            success: function (data) {
                if (data == "success") {
                    $("#isbooked").addClass("hide");
                    $.ajax({
                        type: "post",
                        url: "/admin/booksuccess",
                        async: false,
                        data: {
                            date: date,
                            startTime: startTime,
                            endTime: endTime,
                            place: place,
                            meetingTheme: meetingTheme,
                            booker:booker,
                            device:device
                        },
                        success: function (data) {
                            if(data=="success"){
                                $("#theme").val("");
                                $("#booksuccess").html("<div class=\"popupLayer\">"+
                                        "        <div class=\"pop-hd\"></div>"+
                                        "        <div class=\"pop-bd\">"+
                                        "            <div class=\"m-feedback mt50\">"+
                                        "                <i class=\"iconfont success\">&#xe612;</i>"+
                                        "                <h2 class=\"h2 fn mt6\">预定成功</h2>"+
                                        "            </div>"+
                                        "            <div class=\"layer-information mt20\">"+
                                        "                <p class=\"f12 c3 lh20\">预定人:"+booker+"<br>地点："+place +"<br>主题："+meetingTheme+"<br>时间："+date+ "  "+startTime+"~"+endTime+"</p>"+
                                        "            </div>"+
                                        "        </div>"+
                                        "        <div class=\"pop-ft mt50\">"+
                                        "            <div class=\"m-btn-group tc\">"+
                                        "                <a href=\"#\" class=\"u-btn u-btn-primary\" onclick=\"dialog.closePop()\">确定</a>"+
                                        "            </div>"+
                                        "        </div>"+
                                        "        <a href=\"javascript:;\" class=\"u-pop-close close\">&#xe600;</a>"+
                                        "    </div>");
                                $('#booktable').empty();
                                $('.date-txt').html(date);
                                yb_book();
                                bookSuccess();
                            }else if (data=="error"){
                                loading("未知错误，预定失败");
                            }
                        }
                    });
                } else if (data == "error") {
                    loading("当前时间已被预订")
                }
            }
        });
    }

</script>
</html>