<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.team.project.dao.PredestineMapper">
    <resultMap id="BaseResultMap" type="com.yb.team.project.model.Predestine">
        <id column="meeting_id" property="meetingId" jdbcType="INTEGER"/>
        <result column="meeting_theme" property="meetingTheme" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="meeting_roomid" property="meetingRoomid" jdbcType="INTEGER"/>
        <result column="booker" property="booker" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getBookByDate" resultType="com.yb.team.project.model.ShowParam">
     SELECT
        meeting_room as address,
        a.start_time as startTime,
        a.end_time as endTime,
        meeting_theme as mettingTheme,
        date,
        booker as bookPeople
        FROM Predestine a JOIN Management b USING (meeting_roomid)
        WHERE date= #{0} AND a.company_id =#{1}
    </select>
    <select id="bookByPerson" resultType="com.yb.team.project.model.ShowParam">
        SELECT
        a.start_time as startTime,
        a.end_time as endTime
        FROM Predestine a JOIN Management b USING (meeting_roomid)
        WHERE date= #{0} AND meeting_room=#{1} AND a.company_id=#{2}
    </select>
    <insert id="bookSuccess"  parameterType="com.yb.team.project.model.Predestine" useGeneratedKeys="true" keyProperty="meeting_id">
        INSERT INTO Predestine (
            meeting_theme,
            start_time,
            end_time,
            meeting_roomid,
            booker,
            date,
            device_name,
            company_id)
            VALUES(
            #{meetingTheme},
            #{startTime},
            #{endTime},
            #{meetingRoomid},
            #{booker},
            #{date},
            #{deviceName},
            #{companyId}
            )
    </insert>


</mapper>