<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>
    <context:annotation-config/>
    <!--<context:component-scan base-package="com.yb.team.project.service"/>-->
    <!--<context:component-scan base-package="com.yb.team.project.dao"/>-->
    <context:component-scan base-package="com.yb.team.project.*"/>
    <!--<mvc:annotation-driven/>-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${c3p0.driverClass}"/>
        <property name="jdbcUrl" value="${c3p0.url}"/>
        <property name="user" value="${c3p0.user}"/>
        <property name="password" value="${c3p0.password}"/>
        <property name="minPoolSize" value="${c3p0.minPoolSize}"/>
        <property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--<property name="configLocation" value="classpath:Mybatis-config.xml"/>-->
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.yb.team.project.model"/>
        <property name="mapperLocations" value="classpath:mybatis/*"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yb.team.project.**"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

    <!--&lt;!&ndash;模板信息配置&ndash;&gt;-->
    <!--<bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">-->
        <!--<property name="resourceLoaderPath" value="/WEB-INF/velocity/" />&lt;!&ndash; 模板存放的路径 &ndash;&gt;-->
         <!--<property name="configLocation" value="classpath:velocity.properties"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 配置视图的显示 &ndash;&gt;-->
    <!--<bean id="ViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">-->
        <!--<property name="cache" value="true" />-->
        <!--<property name="prefix" value="/" />&lt;!&ndash; 视图文件的前缀，即存放的路径 &ndash;&gt;-->
        <!--<property name="suffix" value=".vm" />&lt;!&ndash; 视图文件的后缀名 &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="toolboxConfigLocation" value="/WEB-INF/tools.xml" /><!–toolbox配置文件路径–>&ndash;&gt;-->
        <!--<property name="dateToolAttribute" value="date" />&lt;!&ndash;日期函数名称&ndash;&gt;-->
        <!--<property name="numberToolAttribute" value="number" />&lt;!&ndash;数字函数名称&ndash;&gt;-->
        <!--<property name="contentType" value="text/html;charset=UTF-8" />-->
        <!--<property name="exposeSpringMacroHelpers" value="true" />&lt;!&ndash;是否使用spring对宏定义的支持&ndash;&gt;-->
        <!--<property name="exposeRequestAttributes" value="true" />&lt;!&ndash;是否开放request属性&ndash;&gt;-->
        <!--<property name="requestContextAttribute" value="rc"/>&lt;!&ndash;request属性引用名称&ndash;&gt;-->
    <!--</bean>-->
</beans>
